* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

header {

  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 20px;
  color: #333;
  padding: 15px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

main {
  width: 70%;
  max-width: 1100px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 25px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.about-section p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  list-style-type: none;
}

.skills-list li {
  background-color: #e8f0ff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}

.links-heading {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
}
.links-heading a {
  display: flex;
  align-items: center;
}

.links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.links-list li a {
  text-decoration: none;
  color: #333;
}

.information {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.contact {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important; /* text ka color */
    box-shadow: 0 0 0 30px white inset !important; /* background overwrite */
  }
} 

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #333;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media (max-width: 480px) {
  main {
    width: 95%;
  }

  header {
    padding: 25px 15px;
  }

  header h1 {
    font-size: 26px;
  }

  section {
    padding: 18px;
  }

  .skills-list {
    grid-template-columns: 1fr;
  }

  th,
  td {
    padding: 8px;
    font-size: 14px;
  }

  nav {
    flex-direction: column;
    gap: 8px;
  }
}
